body{font-family:arial;font-size:10pt;}
.fl{float:left;}
.fr{float:right;}
.clr{clear:both;}

#page{width:960px;margin:0 auto;}

#header{position:relative;border-bottom:3px double #ccc;padding:5px;margin:5px 0px 10px;}
#logo{top:-12px;position:absolute;z-index:2;background:url(/images/blueplate.png) no-repeat;width:100px;height:100px;}
#header h1{float:left;margin:5px 0 0 120px;font-size:24pt;font-family:arial black;color:#2136b3;}
#user{}
#user img#avatar{margin:5px;}
#user .info{margin:5px;}
#user a.logout{}

.list_module{width:300px;border:1px solid #ccc;margin-right:20px;-moz-border-radius: 5px; -webkit-border-radius: 5px;}
.list_module.last{margin-right:0;}
.list_module h2{margin:0px;padding:3px 0;text-align:center;border-bottom:1px solid #ccc;}
.list_module .items{margin:5px;min-height:400px;}

.task{background:#fff;border:1px solid #ccc;padding:5px;margin:5px;min-height:44px;}
.task .source_icon{float:left;background:#0069AC;height:40px;width:40px;margin:2px 7px 2px 2px;-moz-border-radius: 5px; -webkit-border-radius: 5px;}

.contact{margin:2px;float:left;position:relative;padding:5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;}
.contact .image{width:60px;height:60px;-moz-border-radius: 5px; -webkit-border-radius: 5px;}
.contact .task_indicator{display:none;position:absolute;top:-1px;right:-1px;height:14px;width:14px;background:red;border:2px solid white;-moz-border-radius: 10px; -webkit-border-radius: 10px;}
.contact .task_indicator span{position:absolute;display:inline-block;color:#fff;font-weight:bold;top:1px;left:4px;font-size:11px;}
.contact.highlight{background:red;}

#inbox{position:relative;z-index:3;background:#CFCDFF;padding:0 0 5px;}
#inbox .task{}
#inbox h2{background:#a19eff;}

#tickets{background:#FFE3CD;}
#tickets h2{background:#ffb780;}

#contacts{background:#E8FFD2;}
#contacts h2{background:#b6e58a;}
#contacts .items{min-height:290px;}

#query{background:#B8E9FF;}
#trash {background:#eee url(/images/trash.png) no-repeat center center;margin-top:8px;}
#trash .items{min-height:90px;}
#trash .highlight{background:yellow;}

#facebox td.body{padding:0px;}
#facebox h1{background:#CFCDFF;margin:0px;padding:5px;border-bottom:1px solid #ccc;font-size:12pt;}
#facebox div.body{padding:5px;text-align:right;}
#facebox div.body textarea{width:100%;}
#facebox div.body button{background:#CFCDFF;border:1px solid #a19eff;margin-top:5px;}

/* Corner radius */
.corner-tl-5 { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; }
.corner-tr-5 { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
.corner-bl-5 { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; }
.corner-br-5 { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.corner-top-5 { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
.corner-bottom-5 { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.corner-right-5 {  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.corner-left-5 { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; }
.corner-all-5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.corner-all-3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; }
